<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('employee_index') }}">
                    <i class="nav-icon icon-speedometer"></i> Employee
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('employee_report') }}">
                    <i class="nav-icon icon-speedometer"></i> Report
                </a>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>